<div class="jumbotron text-center">
    <h1 class="display-3">
        {{title}}
    </h1>
    <p class="lead">
        Record Ideas for any creation in one place
    </p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add a New Idea</a>
</div>