<div class="jumbotron text-center">
    <h1 class="display-3">
        {{title}}
    </h1>
    <p class="lead">
        Record Ideas for any creation in one place
    </p>
    <a href="/users/register" class="btn btn-info btn-lg">Add a New Idea</a>
     <p >
        Your great ideas begin here
    </p>
</div>